/*********/
/* RANGE */
/*********/

input[type="range"][orient="vertical"] {
    position: relative;
    height: 15rem;
    width: 0;
    border: 1.1rem solid #72717407;
    -webkit-appearance: none;
    background-color: #3a3a3a2a;
    box-shadow: 0 0 .1rem rgba(255, 255, 255, 0.3), inset 0 0 .5rem rgba(255, 255, 255, 0.5);
    padding: 0 0.175rem;
    border-radius: 5px;
    outline: none;
    transition: .4s;
}

input[type=range][orient="vertical"]:focus {
    outline: none;
}

input[type=range][orient="vertical"]::-webkit-slider-thumb, input[type=range][orient="vertical"]::-moz-range-thumb {
    box-shadow: -.5px -2px 2px #00000085;
    border: .5rem solid #3a3a3a;
    border-style: outset;
    height: 2rem;
    width: 1rem;
    border-radius: .3rem;
    cursor: pointer;
    -webkit-appearance: none;
    background: #464545;
    background: -moz-linear-gradient(0deg, #464545 25%, #858585 50%, #464545 75%);
    background: -webkit-linear-gradient(0deg, #464545 25%, #858585 50%, #464545 75%);
    background: linear-gradient(0deg, #464545 25%, #858585 50%, #464545 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#cdcdcd", GradientType=1);
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}

.slider-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    /* background: #451592; */
    background: #31313152;
    color: #f0f0f070;
    margin-top: .5rem;
    padding: .3rem;
    border-radius: .2rem;
    transition: .4s;
}

.slider-value {
    color: #f0f0f056;
    text-shadow: 0 0 .5rem rgba(255, 255, 255, 0.507);
    border-radius: .3rem;
    margin-bottom: .3rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: .8rem;
    transition: .4s;
    opacity: 0;
}

.slider-container:hover>.slider-info, .slider-container:hover>.slider-value {
    color: #f0f0f0e0;
    text-shadow: 0 0 0.1rem #fff;
    opacity: 0.7;
    background: transparent;
}

.slider-container:hover>input[type="range"][orient="vertical"] {
    box-shadow: 0 0 .5rem rgba(255, 255, 255, 0.2), inset 0 0 .5rem rgba(255, 255, 255, 0.5);
}



/**********/
/* SELECT */
/**********/

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 0;
    margin: 0;
}

.select-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 110%;
    height: auto;
    border: 0;
    margin: 0;
    font-size: 1.5rem;
    padding: .75em;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: .7rem inset rgb(51, 51, 51);
    border-radius: .3rem;
    background: #141313;
    color: #acacac;
}

.select-container select:hover {
    color: #fff;
}

.select-container::after { 
    content: '';
    position: relative;
    display: block; 
    left: -3.7rem;
    top: .4rem;
	width: 0; height: 0;
	border-color: transparent;
    border-top-color: rgba(207, 207, 207, 0.521); 
    border-radius: .2rem;
	border-width: .8rem;
    border-style: solid;
	pointer-events: none;
}