* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#_canvas {
    background: radial-gradient(closest-side, #0e3669, #06244b, #03172e, #030225);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .2s;
    /* color: hsl(214, 78%, 39%) */
}

#_audioOn {
    cursor: pointer;
    z-index: 20;
    position: absolute;
    border: 1px solid rgb(31, 30, 30);
    /* background-color: hsl(200, 80%, 50%); */
    padding: 1rem 10rem;
    border-radius: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 5rem;
}

#_stop {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    padding: .5rem 1rem;
    background: #451592;
    border: none;
    border-radius: .3rem;
    color: #f0f0f070;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 1.2rem;
    transition: .4s;
}

#_stop:hover {
    color: #f0f0f0e0;
    text-shadow: 0 0 0.5rem #fff;
}

.gain-container {
    z-index: 10;
    position: absolute;
    bottom: 3.8rem;
    right: 1.5rem;
    display: flex;
}

.hidden {
    display: none;
}

#_enter {
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    letter-spacing: 1rem;
    background: black;
    color: #f0f0f0;
    border: none;
}

.ctrls {
    /* padding-top: 1rem; */
    width: 100%;
    text-align: center;
}

.ctrls button {
    text-align: center;
    cursor: pointer;
    font-size: 8rem;
    background: black;
    color: #f0f0f081;
    padding: 0 1.5rem;
    margin: 1.5rem auto;
    transition: .4s;
    border: none;
}

.ctrls button:hover {
    color: #f0f0f0ad;
    text-shadow: 0 0 .5rem #fff;
    ;
}
/* 
.ctrls p {
    font-size: 1.5rem;
    letter-spacing: .5rem;
    padding-bottom: 2rem;
    padding-top: .8rem;
}

.ctrls input {
    width: 100%;
    max-width: calc(100vw - 50%);
}

.ctrls div {
    font-size: 3.5rem;
    padding-left: .5rem;
    padding-top: .6rem;
} 
*/

.synth-choice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* SLIDERS */
#app {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.slider__legend h2 {
    display: none;
}
.slider__legend span {
    letter-spacing: 0;
    font-size: 1.5rem;
}
.slider__legend .sliderValue {
    font-size: 3rem !important;
    color: hsl(200, 80%, 50%);
}